.c-map-system {
  width: var(--map-system-width, 5rem);
  height: var(--msp-system-height, 2.2rem);
  border-radius: 1.1rem;
  border: 1px solid $color-gray--light;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-white;

  transition: all 0.5s ease-in-out;
  text-align: center;

  &.is-external {
    border-radius: 0;
    background: $color-gray--light;
  }
  &.is-active {
    border-color: $color-black;
    box-shadow: 0 0 0.2rem 0.2rem $color-gray;
  }
  &.is-selected {
    box-shadow: 0 0 0.2rem 0.2rem $color-blue;
  }
}

.c-map-system__title {
  font-size: var(--map-system-font-size, 1rem);
}
